<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cdccheckout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1"
                showInStore="1">
                <label>Crypto.com Pay</label>
                <comment>
                    <![CDATA[

                    <script type = "text/javascript">
                    document.getElementById('save').onclick=function(){
                        //we have to check all the values and enable/disable based on tokens
                        var $enabled = document.getElementById('payment_us_cdccheckout_active').value;
                        var $env_text = '';
                            if($enabled == 1){
                            //extension enabled, make sure values are set
                            var $token = '';
                            var $env = document.getElementById('payment_us_cdccheckout_cdcpay_endpoint').value
                            if($env == 'test'){
                                $env_text = 'Test'
                                $token = document.getElementById('payment_us_cdccheckout_cdcpay_devtoken').value
                            }else{
                                $env_text = 'Production'
                                $token = document.getElementById('payment_us_cdccheckout_cdcpay_prodtoken').value
                            }
                            if($token == ''){
                            //disable the extension befor the form is saved and alert the user
                                document.getElementById('payment_us_cdccheckout_active').selectedIndex = 1
                                    alert('You must set a token for the ' +$env_text+ ' environment, Crypto.com Pay will be disabled until it is set')

                            }
                            }//end enabled check
                        }

                    </script>

                    ]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                    showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                    showInStore="1">
                    <label>Title</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                    showInStore="0">
                    <label>New Order Status</label>
                    <comment><![CDATA[Status of newly created order.]]></comment>
                    <source_model>Cdcpay\CDCCheckout\Model\Config\Source\Order\Status\Pendingpayment</source_model>
                </field>

                <field id="cdcpay_devtoken" translate="label" type="text" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Secret Key in Test Mode</label>
                    <comment><![CDATA[Your secret key in <b>Test Mode</b>.  <a href = "https://merchant.crypto.com/" target = "_blank">Create one here</a>.]]></comment>
                </field>

                <field id="cdcpay_prodtoken" translate="label" type="text" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Secret Key in Live Mode</label>
                    <comment><![CDATA[Your secret key in <b>Live Mode</b>.  <a href = "https://merchant.crypto.com/" target = "_blank">Create one here</a>.]]></comment>
                </field>

                <field id="cdcpay_testsignsecret" translate="label" type="text" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Webhook signature secret in Test Mode</label>
                    <comment><![CDATA[Your webhook signature secret in <b>Test Mode</b>.  Your webhook url is `[Store URL]/rest/V1/cdcpay-cdccheckout/ipn`]]></comment>
                </field>
                
                <field id="cdcpay_prodsignsecret" translate="label" type="text" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Webhook signature secret in Live Mode</label>
                    <comment><![CDATA[Your webhook signature secret in <b>Live Mode</b>.  Your webhook url is `[Store URL]/rest/V1/cdcpay-cdccheckout/ipn`]]></comment>
                </field>

                <field id="cdcpay_endpoint" translate="label" type="select" sortOrder="10" showInDefault="1"
                    showInWebsite="1" showInStore="1">
                    <label>Test Mode</label>
                    <comment><![CDATA[Select <b>Yes</b> for testing the plugin, <b>No</b> when you are ready to go live.]]></comment>
                    <source_model>Cdcpay\CDCCheckout\Model\Config\Source\Environment</source_model>
                </field>

                <field id="cdcpay_ipn_mapping" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status when Payment Captured</label>
                    <comment><![CDATA[When payment is captured and this server received the Webhook from Crypto.com Pay server, the status of orders that you would like to update to.]]></comment>
                    <source_model>Cdcpay\CDCCheckout\Model\Config\Source\Ipn</source_model>
                </field>
                
            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>
